--extra-index-url https://download.pytorch.org/whl/cpu
torch --index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
chromadb
langchain
langchain-community
python-dotenv
sentence-transformers
pydantic
openai
httpx
